<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Tienda de vehículos eléctricos</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>   
    </head>
    <body>

        <header th:fragment="headercss" class="headercss">
            <nav class="navcss">
                <h1 class="logocss nav-linkcss">[[#{aplicacion.titulo}]]<i class="bi bi-tools"></i> </h1>
                 
                <ul class="nav-menucss">
                    
                    <li class="nav-menu-itemcss">
                        <a th:href="@{/}" class="nav-menu-linkcss nav-linkcss">[[#{plantilla.articulos}]]</a>

                    </li>
                 
                    <li class="nav-menu-itemcss">
                        <a th:href="@{/articulo/listado}" class="nav-menu-linkcss nav-linkcss" sec:authorize="hasRole('ROLE_ADMIN')">[[#{plantilla.articulos.editar}]]</a>

                    </li>

                    <li class="nav-menu-itemcss">
                        <a th:href="@{/ubicaciones/puntosrecarga}" class="nav-menu-linkcss nav-linkcss">[[#{categoria.puntos}]]</a>

                    </li>
                    
                    <li class="nav-menu-itemcss">
                        <a th:href="@{/ubicaciones/puntosmantenimiento}" class="nav-menu-linkcss nav-linkcss">[[#{categoria.mantenimiento}]]</a>

                    </li>
                    
                    <li class="nav-menu-itemcss">
                        <a th:href="@{/carrito/listado}" class="nav-menu-linkcss nav-linkcss">[[#{carrito.verCarrito}]]</a>

                    </li>

                    <li class="nav-menu-itemcss">
                        <form method ="POST" th:action="@{/logout}">
                            <a href="#" onclick="this.parentNode.submit();" class="nav-menu-linkcss nav-linkcss" >
                                <i class="nav-menu-linkcss nav-linkcss"></i>[[#{plantilla.logout}]]</a>
                        </form>
                    </li>   
                    
                
                </ul>
            </nav>

        </header>

    </body>
    <footer>
            <p class="lead text-center">&COPY; [[#{plantilla.derechos}]] |  
            <a th:href="@{/(lang=es)}">ES</a> |
            <a th:href="@{/(lang=en)}">EN</a>   
            </p>
        </footer>
</html>
