<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Tienda de vehículos electricos</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    
    <body>
    <header th:replace="layout/plantilla :: header"/>
        
        <hr>
            
            <div class="contenido">
                 <h2> Bienvenidos </h2>
                <p>Esta es una página de venta de repuestos donde se podrá encontrar información importante a vehículos eléctricos</p>
                
            </div>
            
                
   <footer th:replace="layout/plantilla :: footer"/>
        
        
    </body>
    
    
</html>
