<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head>
        <title>Tienda de vehículos electricos</title>
        <meta charset="UTF-8">
         <head th:replace="layout/plantilla :: head">
     <script>
     function addCard(formulario){
     var valor=formulario.elements[0].value;
     var url = '/carrito/agregar';
     url = url + '/' +valor;
     $("#resultsBlock").load(url);
     }
    </script> 
    </head>
      
    <body>
    <script>
     function addCard(formulario){
     var valor=formulario.elements[0].value;
     var url = '/carrito/agregar';
     url = url + '/' +valor;
     $("#resultsBlock").load(url);
     }
    </script> 
         
    <header th:replace="layout/plantilla :: header"/>
    <hr>
    <section th:replace="carrito/fragmentosCarrito :: listadoArticulos"> 
    <footer th:replace="layout/plantilla :: footer"/>
   
    </body>
    
</html>
